.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    "navbar"
    "main";
  grid-template-rows: 0.5fr 5fr;
}

.navbar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  grid-area: navbar;
  align-items: center;
  color: var(--primary);
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-menu {
  display: none;
}

.nav-searchbar {
  width: 20%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.2rem;
  background-color: var(--primary-hover);
  border-radius: 1rem;
  border: 1px solid var(--primary);
}

.search-input {
  padding: 0.5rem;
  width: 100%;
  border: none;
  border-radius: 1rem;
  background-color: transparent;
}

.search-input:focus {
  outline: none;
  color: var(--primary);
}

.nav-action {
  display: flex;
  gap: 1rem;
}

.nav-theme,
.nav-user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.main-container {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: "sidebar listing";
  position: relative;
}

.sidebar-container {
  grid-area: sidebar;
  /* background-color: salmon; */
  color: var(--primary);
  display: flex;
  flex-flow: column;
  padding: 1rem;
  gap: 1rem;
}

.sidebar-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.sidebar-item:hover {
  cursor: pointer;
  background-color: var(--primary-hover);
}

.listing-container {
  grid-area: listing;
  background-color: chartreuse;
}

@media screen and (max-width: 768px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "listing";
  }
  .nav-action-title {
    display: none;
  }
  .nav-searchbar {
    width: 40%;
    padding: 0.1rem;
  }
  .sidebar-container {
    display: none;
  }
  .navbar-menu {
    display: flex;
    cursor: pointer;
  }
  .sidebar-mobile {
    position: absolute;
    display: flex;
    color: var(--primary);
    flex-flow: column;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--bg-white);
    height: 100%;
  }
}

@media screen and (max-width: 480px) {
}
